<a href="https://colab.research.google.com/github/Frosty-Bits/PythonFree/blob/main/Python_Lesson_3_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Soluzioni degli esercizi

## 1.Chiedi all'utente di inserire il nome e salvalo nella variabile <nome>

In [1]:
nome = input("Come ti chiami? ")

Come ti chiami? Antonio

## 2.Chiedi all'utente di inserire la sua età e salvala nella variabile <età>  
Ricorda, la funzione input() salva ogni valore inserito dall'utente come una stringa. Non un numero.

In [2]:
età = input("Quanti anni hai? ")

Quanti anni hai? 23

## 3.Stampa a schermo la frase: Ciao \<nome> ! Hai <età> anni.

In [3]:
print(f'Ciao {nome}! Hai {età} anni.')

Ciao Antonio! Hai 23 anni.

## 4.Stampa a schermo il nome dell'utente e la sua età su due righe diverse

In [4]:
print(nome, età, sep = '\n')

Antonio
23

## 5.Stampa a schermo quanti anni avrà l'utente precedente tra 60 mesi.

In [5]:
anni = 60//12 # mesi//anno
print(int(età) + anni)

28

## 6.Stampa a schermo la somma dei numeri da 1 a 10

In [6]:
print(1+2+3+4+5+6+7+8+9+10)

# oppure

print(10 * 11 // 2) # è una formula che rende il calcolo più veloce: n * (n+1) //2

55
55

## 7.Stampa a schermo un numero con 50 zeri

In [7]:
print(10 ** 50)

100000000000000000000000000000000000000000000000000

## 8.Stampa a schermo un animale

In [8]:
print("""
_______$$$$$$
______$$_____$$
_____$__(•)____$$
__$$$__________$
______$$_____$
_____$____$
____$____$__$$$__$$______$
__$$_____$_____$$__$$__$$$
__$______$___________$$__$
__$$_______$______$$_____$
__$$________$$$$$$______$
___$$$________________$
_____$$$$__________$$
_______$$$$$$$$$$$$
""")

_______$$$$$$
______$$_____$$
_____$__(•)____$$
__$$$__________$
______$$_____$
_____$____$
____$____$__$$$__$$______$
__$$_____$_____$$__$$__$$$
__$______$___________$$__$
__$$_______$______$$_____$
__$$________$$$$$$______$
___$$$________________$
_____$$$$__________$$
_______$$$$$$$$$$$$

## 9.Calcola l'interesse semplice di una somma di 1000€ investita per 2 anni al tasso del 5%  
Formula: Capitale * tasso * tempo

In [9]:
capitale = 1000
tasso = 0.05
tempo = 2

print(f'L\'interesse sarà pari a: {capitale * tasso * tempo}€')

L'interesse sarà pari a: 100.0€

## 10.Chiedi in input una parola all'utente, poi stampala al contrario insime alla lunghezza della parola stessa.

In [10]:
parola = input("Inserisci una parola qualsiasi: ")
print(parola[::-1])
print(len(parola))

Inserisci una parola qualsiasi: aznalubma
ambulanza
9

## 11.Stampa a schermo la parola precendente tutta in maiuscolo e successivamente solo con la prima lettera maiuscola

In [11]:
print(parola.upper())
print(parola.capitalize())

AZNALUBMA
Aznalubma

## 12.Un triangolo ha un lato di 3 cm e l'altro di 4. Quant'è la lunghezza dell'ipotenusa? (Teorema di Pitagora)  
Importiamo una libreria di python  
(ovvero un estensione, che ci permette di usare più funzioni, in questo caso matematiche)  
Non preoccuparti, vedremo più nel dettaglio cos'è una libreria tra qualche lezione :)

In [12]:
from math import sqrt

per usare la radice quadrata si usa il comando sqrt() inserendo come parametro il valore a cui applicare la radice:

In [13]:
print(sqrt(9))

3.0

In [14]:
# Soluzione
from math import sqrt

cateto_1 = 3
cateto_2 = 4
ipotenusa = sqrt(cateto_1**2 + cateto_2**2)
print(ipotenusa)

5.0