<a href="https://colab.research.google.com/github/Frosty-Bits/PythonFree/blob/main/Python_Lesson_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Liste
Un'altro tipo di dato molto usato sono le liste, esse ci permettono di ragruppare più elementi dentro la stessa variabile. Una lista si crea assegnano ad una variabile due parentesi quadre '**[ ]**', in cui saranno inseriti i diversi elementi, separti da virgole. Gli elementi all'interno possono essere di qualiasi tipo, anche un'altra lista, e possono anche essere ripetuti.

In [1]:
edifici = ["casa", "scuola","ospedale","stadio"]

In [2]:
numeri = ["uno", 2, 3, "4",10] # ci possono essere elementi di diversi tipi

In [3]:
liste = [numeri, edifici] # può anche contenere altre liste

In [4]:
lista_vuota = []

Per accedere ad un indice specifico in una lista possiamo utilizzare il metodo di slicing come abbiamo visto per le stringhe.

In [5]:
alunni = ["Mario", "Anna", "Roberto", "Giulia"]
print(f'Il primo alunno è {alunni[0]}')
print(f'Gli altri alunni sono {alunni[1:]}')

Il primo alunno è Mario
Gli altri alunni sono ['Anna', 'Roberto', 'Giulia']

Vediamo ora un po' di esercizi con le funzioni più usate.  
Ricorda: non è importante ricordarsi esattamente il nome della funzione, ma sapere che è possibile fare una certa operazione con la variabile a cui stiamo lavorando

### len()  
Conta quanti elementi ci sono in una lista.

In [6]:
alunni = ["Mario", "Anna", "Roberto", "Giulia"]
print(len(alunni))

4

### append()  
Aggiunge un elemento alla fine della lista.

In [7]:
alunni = ["Mario", "Anna", "Roberto", "Giulia"]
alunni.append('Sara')
print(alunni)

['Mario', 'Anna', 'Roberto', 'Giulia', 'Sara']

### extend()  
Sposta gli elementi di una lista in un'altra.  
(non inserisce la lista stessa, ma solo gli elementi all'interno)

In [8]:
alunni = ["Mario", "Anna", "Roberto", "Giulia"]
nuovi_alunni = ["Paolo", "Chiara"]
alunni.extend(nuovi_alunni)
print(alunni)

['Mario', 'Anna', 'Roberto', 'Giulia', 'Paolo', 'Chiara']

### insert()  
Inserisce un valore in una posizione specifica data dall'indice.

In [9]:
alunni = ["Mario", "Anna", "Roberto", "Giulia"]
alunni.insert(0, "Andrea") # All'indice 0 aggiungiamo il nome Andrea.
print(alunni)

['Andrea', 'Mario', 'Anna', 'Roberto', 'Giulia']

### remove()  
Rimuove la prima occorenza del valore specificato come parametro

In [10]:
alunni = ["Mario", "Anna", "Roberto", "Giulia"]
alunni.remove("Roberto")
print(alunni)

['Mario', 'Anna', 'Giulia']

### index()  
Restituisce l'indice della prima occorrenza del valore specificato

In [11]:
alunni = ["Mario", "Anna", "Roberto", "Giulia"]
alunni.index("Giulia")

3

### count()  
Conta il numero di elementi nella lista uguali al parametro

In [12]:
alunni = ["Mario", "Anna", "Roberto", "Giulia"]
alunni.count("Paolo")
alunni.count("Anna")

1

### sort()  
Ordina la lista in ordine crescente per i numeri, e in ordine alfabetico per le stringhe.

In [13]:
alunni = ["Mario", "Anna", "Roberto", "Giulia"]
alunni.sort()
print(alunni)

numeri = [2,7,4,1,3,8,9,5,2,5,1]
numeri.sort()
print(numeri)

['Anna', 'Giulia', 'Mario', 'Roberto']
[1, 1, 2, 2, 3, 4, 5, 5, 7, 8, 9]

### reverse()  
Inverte l'ordine della lista, che sia ordinata o meno.

In [14]:
alunni = ["Mario", "Anna", "Roberto", "Giulia"]
alunni.reverse()
print(alunni)

numeri = [2,7,4,1,3,8,9,5,2,5,1]
numeri.reverse()
print(numeri)

['Giulia', 'Roberto', 'Anna', 'Mario']
[1, 5, 2, 5, 9, 8, 3, 1, 4, 7, 2]

## Dizionari
I dizionari sono una struttura dati fondamentale in python, in quanto consentono di gestire meglio i dati, sia in termini di praticità che di velocità.  

Un dizionario è composto da due elementi: la chiave e il valore.  
**la chiave** ha una funzione di etichetta per richiamare uno specifico valore (simile all'indice di una lista). Può essere una stringa o un numero, e deve sempre essere univoco.  
**Il valore** invece può essere qualsiasi tipo di dato.  

Per creare un dizionario si usano le parentesi graffe '**{}**'.  
Vediamo ora come assegnare invece i valori

### primo metodo  
Assegnazione dei valori al momento della creazione del dizionario

In [15]:
studente = {'nome': 'Alice', 'età': 25, 'città': 'Roma'}
print(studente)

{'nome': 'Alice', 'età': 25, 'città': 'Roma'}

### secondo metodo  
Aggiungere un valore dopo che il dizionario è già stato creato

In [16]:
professore = {}
professore['nome'] = 'Marco'
professore['età'] = '48'
professore['città'] = 'Milano'

### accesso ai dati
come abbiamo detto prima, si usa la chiave

In [17]:
print(professore['nome'])

Marco

### modificare un valore
è possibile assegnando direttamente il nuovo valore al campo (chiave) specifico

In [18]:
# Vecchio dizionario:
professore = {}
professore['nome'] = 'Marco'
professore['età'] = '48'
professore['città'] = 'Milano'

# Nuovo dizionario corretto:
professore['nome'] = 'Andrea'
print(professore)

{'nome': 'Andrea', 'età': '48', 'città': 'Milano'}

Vediamo ora le funzioni più comuni da usare con i dizionari

In [19]:
# Creiamo prima un dizionario con qualche dato che useremo per i prossimi esempi:
partner = {
    'nome': 'Luca',
    'età': 30,
    'città': 'Pisa',
    'lavoro': 'Barista',
    'hobby': ['reading', 'coding', 'hiking'],
    'studente': False,
    'voti': {'matematica': 9, 'inglese': 8, 'storia': 7}
}

### len()
Resituisce il numero di coppie chiave-valore

In [20]:
len(partner)

7

### keys()
Elenca solo le chiavi

In [21]:
print(partner.keys())

dict_keys(['nome', 'età', 'città', 'lavoro', 'hobby', 'studente', 'voti'])

### values()
Elenca solo i valori

In [22]:
print(partner.values())

dict_values(['Luca', 30, 'Pisa', 'Barista', ['reading', 'coding', 'hiking'], False, {'matematica': 9, 'inglese': 8, 'storia': 7}])

### items()
Elenca tutte le coppie chiave-valore

In [23]:
partner.items()

dict_items([('nome', 'Luca'), ('età', 30), ('città', 'Pisa'), ('lavoro', 'Barista'), ('hobby', ['reading', 'coding', 'hiking']), ('studente', False), ('voti', {'matematica': 9, 'inglese': 8, 'storia': 7})])

### get()
Restituice il valore della chiave specificata se presente, altrimenti restiuisce un valore di default da noi specificato

In [24]:
print(partner.get('nome', 'nome non presente'))

print(partner.get('cognome', 'cognome non presente'))

Luca
cognome non presente

### pop()
Elimina una coppia chiave-valore e restituisce solo il valore eliminato

In [25]:
dato_eliminato = partner.pop('città')
print(dato_eliminato)
print(partner.get('città', 'città non presente nel dizionario'))

Pisa
città non presente nel dizionario

### popitem()
Elimina l'ultima coppia chiave-valore del dizionario e restituisce entrambi

In [26]:
dato_eliminato = partner.popitem()
print('1 ', dato_eliminato)
print('2 ', partner)

1  ('voti', {'matematica': 9, 'inglese': 8, 'storia': 7})
2  {'nome': 'Luca', 'età': 30, 'lavoro': 'Barista', 'hobby': ['reading', 'coding', 'hiking'], 'studente': False}

### update()
Aggiorna le coppie chiave-valore con quelle di un'altro dizionario

In [27]:
print('Dizionario prima: ', partner.items())

# Creo un nuovo dizionario
nuovi_dati = {'età': 35, 'lavoro': 'Insegnante', 'sposato': True}
partner.update(nuovi_dati)

# Vediamo il dizionario vecchio aggiornato
print('Dizionario dopo: ', partner.items())

Dizionario prima:  dict_items([('nome', 'Luca'), ('età', 30), ('lavoro', 'Barista'), ('hobby', ['reading', 'coding', 'hiking']), ('studente', False)])
Dizionario dopo:  dict_items([('nome', 'Luca'), ('età', 35), ('lavoro', 'Insegnante'), ('hobby', ['reading', 'coding', 'hiking']), ('studente', False), ('sposato', True)])

## Facciamo un po' di pratica:

Hai appena creato un nuovo social network e vuoi creare un utente fittizio per testare il suo funzionamento
Crea un dizionario che contenga alcune informazioni sul tuo utente fittizio (nome, cognome, età, luogo, interessi)

In [28]:
utente = {"nome":"Mario",
          "cognome":"Rossi",
          "età":30,
          "luogo":"Parma",
          "interessi":['natura', 'sport', 'cibo']}

Ti accorgi di aver sbagliato gli interessi e vuoi sostituire sport con Netflix

In [29]:
utente['interessi'][1] = 'Netflix'

L'utente ha da poco compiuto gli anni, aggiungi 1 anno alla sua età

In [30]:
utente['età'] += 1

Una nuova legge ti vieta di memorizzare il luogo degli utenti. Eliminalo.

In [31]:
utente.pop('luogo')
# oppure
# del utente['luogo']

'Parma'

Decidi di aggiornare il tuo social network e hai bisogno di ulteriori informazioni (studente, lavoro_desiderato, account_privato)

In [32]:
aggiornamento = {'studente': True,
                 'lavoro_desiderato': 'veterinario',
                 'account_privato': False}
utente.update(aggiornamento)

In [33]:
print(utente)

{'nome': 'Mario', 'cognome': 'Rossi', 'età': 31, 'interessi': ['natura', 'Netflix', 'cibo'], 'studente': True, 'lavoro_desiderato': 'veterinario', 'account_privato': False}