<a href="https://colab.research.google.com/github/Frosty-Bits/PythonFree/blob/main/Python_Lesson_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Liste
Un'altro tipo di dato molto usato sono le liste, esse ci permettono di ragruppare più elementi dentro la stessa variabile. Una lista si crea assegnano ad una variabile due parentesi quadre '**[ ]**', in cui saranno inseriti i diversi elementi, separti da virgole. Gli elementi all'interno possono essere di qualiasi tipo, anche un'altra lista, e possono anche essere ripetuti.

In [59]:
edifici = ["casa", "scuola","ospedale","stadio"]

In [60]:
numeri = ["uno", 2, 3, "4",10] # ci possono essere elementi di diversi tipi

In [61]:
liste = [numeri, edifici] # può anche contenere altre liste

In [62]:
lista_vuota = []

To access a specific index in a list we can use the slicing method like we saw for strings.

In [63]:
alunni = ["Mario", "Anna", "Roberto", "Giulia"]
print(f'Il primo alunno è {alunni[0]}')
print(f'Gli altri alunni sono {alunni[1:]}')

Il primo alunno è Mario
Gli altri alunni sono ['Anna', 'Roberto', 'Giulia']

Vediamo ora un po' di esercizi con le funzioni più usate. Ricorda, non è importante ricordarsi esattamente il nome della funzione, ma sapere che è possibile fare una certa operazione con la variabile a cui stiamo lavorando

In [64]:
# len() -> Conta quanti elementi ci sono in una lista.
alunni = ["Mario", "Anna", "Roberto", "Giulia"]
print(len(alunni))

4

In [65]:
# append() -> Aggiunge un elemento alla fine della lista.
alunni.append('Sara')
print(alunni)

['Mario', 'Anna', 'Roberto', 'Giulia', 'Sara']

In [66]:
# extend() -> Sposta gli elementi di una lista in un'altra. (non inserisce la lista stessa, ma solo gli elementi all'interno)
nuovi_alunni = ["Paolo", "Chiara"]
alunni.extend(nuovi_alunni)
print(alunni)

['Mario', 'Anna', 'Roberto', 'Giulia', 'Sara', 'Paolo', 'Chiara']

In [67]:
# insert() -> Inserisce un valore in una posizione specifica data dall'indice.
alunni.insert(0, 'Roberto') # All'indice 0 aggiungiamo il nome Andrea.
print(alunni)

['Roberto', 'Mario', 'Anna', 'Roberto', 'Giulia', 'Sara', 'Paolo', 'Chiara']

In [68]:
# remove() -> Rimuove la prima occorenza del valore specificato come parametro
alunni.remove('Roberto')
print(alunni)

['Mario', 'Anna', 'Roberto', 'Giulia', 'Sara', 'Paolo', 'Chiara']

In [69]:
# index() -> Restituisce l'indice della prima occorrenza del valore specificato
alunni.index('Giulia')

3

In [70]:
# count() -> Conta il numero di elementi nella lista uguali al parametro
alunni.count('Paolo')

1

In [71]:
# sort() -> Ordina la lista in ordine crescente
alunni.sort()
print(alunni)

numeri = [2,7,4,1,3,8,9,5,2,5,1]
numeri.sort()
print(numeri)

['Anna', 'Chiara', 'Giulia', 'Mario', 'Paolo', 'Roberto', 'Sara']
[1, 1, 2, 2, 3, 4, 5, 5, 7, 8, 9]

In [72]:
# reverse() -> Inverte l'ordine della lista, che sia ordinata o meno.
alunni.reverse()
print(alunni)

numeri.reverse()
print(numeri)

['Sara', 'Roberto', 'Paolo', 'Mario', 'Giulia', 'Chiara', 'Anna']
[9, 8, 7, 5, 5, 4, 3, 2, 2, 1, 1]

## Dizionari
I dizionari sono una struttura dati fondamentale in python, in quanto consentono di gestire meglio i dati, sia in termini di praticità che di velocità.  
Un dizionario è composto da due elementi: la chiave e il valore.
la chiave serve da etichetta al valore di cui abbiamo bisogno (simile all'indice di una lista), e può essere un numero o una stringa, ma deve essere sempre unico. Il valore invece può essere qualsiasi tipo di dato.  
Per creare un dizionario si usano le parentesi graffe '**{}**'.  
Vediamo ora come assegnare invece i valori

In [73]:
# primo metodo: Assegnazione dei valori al momento della creazione del dizionario
studente = {'nome': 'Alice', 'età': 25, 'città': 'Roma'}

In [74]:
# secondo metodo: Aggiungere un valore dopo che il dizionario è già stato creato
professore = {}
professore['nome'] = 'Marco'
professore['età'] = '48'
professore['città'] = 'Milano'

In [75]:
# per accedere ai dati, come abbiamo detto prima, si usa la chiave
print(professore['nome'])

Marco

In [76]:
# per modificare un valore è possibile farlo assegnando direttamente il nuovo valore che vogliamo
professore['nome'] = 'Andrea'
print(professore['nome'])

Andrea

Vediamo ora le funzioni più comuni da usare con i dizionari

In [77]:
# Creiamo prima un dizionario con qualche dato
partner = {
    'nome': 'Luca',
    'età': 30,
    'città': 'Pisa',
    'lavoro': 'Barista',
    'hobby': ['reading', 'coding', 'hiking'],
    'studente': False,
    'voti': {'matematica': 9, 'inglese': 8, 'storia': 7}
}

In [78]:
# len() -> Numero di coppie chiave-valore
len(partner)

7

In [79]:
# keys() -> Elenca solo le chiavi
print(partner.keys())

dict_keys(['nome', 'età', 'città', 'lavoro', 'hobby', 'studente', 'voti'])

In [80]:
# values() -> Elenca solo i valori
print(partner.values())

dict_values(['Luca', 30, 'Pisa', 'Barista', ['reading', 'coding', 'hiking'], False, {'matematica': 9, 'inglese': 8, 'storia': 7}])

In [81]:
# items() -> Elenca tutte le coppie chiave-valore
partner.items()

dict_items([('nome', 'Luca'), ('età', 30), ('città', 'Pisa'), ('lavoro', 'Barista'), ('hobby', ['reading', 'coding', 'hiking']), ('studente', False), ('voti', {'matematica': 9, 'inglese': 8, 'storia': 7})])

In [82]:
# get() -> Restituice il valore della chiave specificata se presente, altrimenti possiamo scegliere un valore di default
print(partner.get('nome', 'nome non presente'))

print(partner.get('cognome', 'cognome non presente'))

Luca
cognome non presente

In [83]:
# pop() -> Elimina una coppia chiave-valore e restituisce solo il valore
dato_eliminato = partner.pop('città')
print(dato_eliminato)
print(partner.get('città', 'città non presente nel dizionario'))

Pisa
città non presente nel dizionario

In [84]:
# popitem() -> Elimina l'ultima coppia chiave-valore del dizionario e restituisce entrambi
dato_eliminato = partner.popitem()
print('1 ', dato_eliminato)
print('2 ', partner)

1  ('voti', {'matematica': 9, 'inglese': 8, 'storia': 7})
2  {'nome': 'Luca', 'età': 30, 'lavoro': 'Barista', 'hobby': ['reading', 'coding', 'hiking'], 'studente': False}

In [85]:
# update() -> Aggiorna le coppie chiave-valore con quelle di un'altro dizionario
print('Dizionario prima: ', partner.items())
nuovi_dati = {'età': 35, 'lavoro': 'insegnante', 'sposato': True}
partner.update(nuovi_dati)
print('Dizionario dopo: ', partner.items())

Dizionario prima:  dict_items([('nome', 'Luca'), ('età', 30), ('lavoro', 'Barista'), ('hobby', ['reading', 'coding', 'hiking']), ('studente', False)])
Dizionario dopo:  dict_items([('nome', 'Luca'), ('età', 35), ('lavoro', 'insegnante'), ('hobby', ['reading', 'coding', 'hiking']), ('studente', False), ('sposato', True)])

## Facciamo un po' di pratica:

In [86]:
# Hai appena creato un nuovo social network e vuoi creare un utente fittizio per testare il suo funzionamento
# Crea un dizionario che contenga alcune informazioni sul tuo utente fittizio (nome, cognome, età, luogo, interessi)
utente = {"nome":"Mario",
          "cognome":"Rossi",
          "età":30,
          "luogo":"Parma",
          "interessi":['natura', 'sport', 'cibo']}

In [87]:
# Ti accorgi di aver sbagliato gli interessi e vuoi sostituire sport con Netflix
utente['interessi'][1] = 'Netflix'

In [88]:
# l'utente ha da poco compiuto gli anni, aggiungi 1 anno alla sua età
utente['età'] += 1

In [89]:
# Una nuova legge ti vieta di memorizzare il luogo degli utenti. Eliminalo.
utente.pop('luogo')
# oppure
# del utente['luogo']

'Parma'

In [90]:
# Decidi di aggiornare il tuo social network e hai bisogno di ulteriori informazioni (studente, lavoro_desiderato, account_privato)
aggiornamento = {'studente': True,
                 'lavoro_desiderato': 'veterinario',
                 'account_privato': False}
utente.update(aggiornamento)

In [91]:
print(utente)

{'nome': 'Mario', 'cognome': 'Rossi', 'età': 31, 'interessi': ['natura', 'Netflix', 'cibo'], 'studente': True, 'lavoro_desiderato': 'veterinario', 'account_privato': False}